<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hong.snipp.link.snipp_link.domain.bbscl.domain.SnippBbsClMapper">

    <select id="getTreeList" resultType="SnippBbsClList" parameterType="SnippBbsClParam">
        WITH RECURSIVE cl_tree AS (
            SELECT UID
                  ,CL_NM
                  ,UPPER_CL
                  ,BBS_UID
                  ,SORT_NO
                  ,1 AS DEPTH
                  ,CAST(CL_NM AS CHAR(1000)) AS PATH
                  ,CAST(LPAD(SORT_NO, 5, '0') AS CHAR(1000)) AS SORT_PATH
              FROM SNP_BBS_CL
             WHERE UPPER_CL IS NULL
               AND BBS_UID = 4
             UNION ALL
            SELECT C.UID
                  ,C.CL_NM
                  ,C.UPPER_CL
                  ,C.BBS_UID
                  ,C.SORT_NO
                  ,P.DEPTH + 1
                  ,CONCAT(p.path, ' > ', C.CL_NM)
                  ,CAST(CONCAT(P.SORT_PATH, '-', LPAD(C.SORT_NO, 5, '0')) AS CHAR(1000))
            FROM SNP_BBS_CL C
            JOIN cl_tree P ON C.UPPER_CL = P.UID
        )
        SELECT CT.UID AS NO
              ,CT.UPPER_CL AS UPPER_NO
              ,CT.CL_NM AS TEXT
              ,CT.SORT_NO AS SORT_NO
              ,CT.BBS_UID AS BBS_UID
              ,SB.BBS_NM AS BBS_NM
              ,CT.PATH AS PATH
          FROM cl_tree CT
         INNER JOIN SNP_BBS SB ON SB.UID = CT.BBS_UID
         ORDER BY sort_path;
    </select>
</mapper>