spring:
  profiles:
    active: local
  application:
    name: snipp_link
  servlet:
    multipart:
      max-file-size: 50MB       # 파일 한 개당 최대 용량
      max-request-size: 50MB    # 한 번의 요청에 포함된 전체 파일 합계 용량

  devtools:
    restart:
      enabled: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: snipplink@gmail.com
    password: ENC(m4XmDMmbP05XFgsinD4FClh3n1zOLt91ih9SPiXs4nYkyD/KrPD6pV0hNZy0TG8wwCsykGRFYAXC7fVd+eLtYA==)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  thymeleaf:
    prefix: classpath:templates/
    suffix: .html
    check-template-location: true
    mode: HTML
    cache: false

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ENC(Pj8viwffYZu0I4MVf5YN0Ao9qCsMyo57ZIgsRoF7Y1jswZTWXtSA5DmiYRA0kGlxfNT3PfNb/lg4hYCN31W/4rgUNIgjSmxsww5ZXGieCJJs1wPMySZvPfKpPhR8mXhiagBnhmQi62yrmSYmczEQng==)
            client-secret: ENC(I2hCy80y5PMr8mfGXMoThneRwXPt4IQEdmVSAuOH6jeVXUgnJb6a0nVrLZ+9hGfn/7NWxqa8aRqqH8gZsXmRcmFA5IO+cOzrnucMcp0feDo=)
            scope: email, profile
          naver:
            client-id: ENC(TkdkiDO2w3bEyY5xZxJhH0rb7d8BZtzy4zskZ7+HkIwW4hH7qI03Io1HuvlEJMoDFmw8uJCjlDMwOaUyIvIMUA==)
            client-secret: ENC(9oC8U85AldJWR0Ihp3ltbz5AZQ7458fkHdOVIwzgUT9pYC7zQneEiuegpaFhw7Eo)
            redirect-uri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            #client-authentication-method: POST # [수정 전] 에러 발생 (Spring Security 6.x 지원 X)
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: name, email
            client-name: Naver
          kakao:
            client-id: ENC(+g1VTrFmtaIVgnwk0dErGYABWTXBub2o4Sw9kCwUXYnEXUdZWMCdX5InxyZQHCzi17r2BfVV1cmHjvF4xtqAQQTkDVe8z++KJLPKCYVXhng=)
            client-secret: ENC(llqQXrleRUYPhZCQmZCcLzs5VdtkAyRcBSLPlf1GgvOfvLars9iq6Tdi463H+3V/HnwWh0FQ6mAWgvDTjkV405pWW40Vr6hNEvvUIdGjdOw=)
            redirect-uri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            #client-authentication-method: POST #변경 이전에 이것때문에 오류가 남
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: profile_nickname, account_email
            client-name: Kakao
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorization_uri: https://kauth.kakao.com/oauth/authorize
            token_uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user_name_attribute: id

server:
  port: 8083

logging:
  level:
    root: info

hong:
  mybatis-setting:
    mapper-locations: file:src/main/java/hong/snipp/link/snipp_link/**/*.xml
    type-aliases-package: hong.snipp.link.snipp_link.**