<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">

  <section class="py-5" th:if="${type == 'free'}">
    <div class="container">
      <div class="text-left px-5 py-5 mb-5 bg-light">
        <div class="text-left heading-underline">
          <h1 class="fw-bolder" th:text="${recentBbs?.bbsNm}"></h1>
        </div>
      </div>
      <div class="gx-5">
        <div class="d-flex flex-column flex-md-row justify-content-between mb-2 gap-2">
          <div class="d-flex gap-2"></div>
          <div>
            <button type="button" class="btn-primary-custom goto-write" th:if="${isLogin}">게시글 작성하기</button>
          </div>
        </div>
        <div id="board-table"></div>
      </div>
    </div>
  </section>


  <section class="py-5" th:if="${type == 'faq'}">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder" th:text="${recentBbs?.bbsNm}"></h1>
      </div>
      <div class="row gx-5">
        <th:block th:if="${isLogin}">
          <div class="d-flex flex-column flex-md-row justify-content-between mb-2 gap-2" th:if="${isSuper}">
            <div class="d-flex gap-2"></div>
            <div>
              <button type="button" class="btn-primary-custom goto-write">게시글 작성하기</button>
            </div>
          </div>
        </th:block>
        <div class="col-xl-4">
          <div class="card border-0 shadow-sm p-2" style="background-color: #85abee69;">
            <div id="board-cl-faq"></div>
          </div>
          <th:block th:if="${isLogin}">
            <span class="cl-span" th:if="${isSuper}">
              분류 수정 및 추가하기
            </span>
          </th:block>
        </div>
        <div class="col-xl-8">
          <th:block th:replace="~{board/faq/faqCard :: faqCard}"></th:block>
        </div>
      </div>
    </div>
  </section>

  <th:block th:replace="~{board/faq/faqClModal :: faqCl-modal}"></th:block>

</th:block>

<th:block layout:fragment="script">
  <th:block th:replace="~{board/faq/faqCard-script :: script}"></th:block>
  <th:block th:replace="~{board/faq/faqClModal-script::script}"></th:block>
  <script th:src="@{'/assets/js/page/board/faqCl.js'}"></script>
  <script th:src="@{'/assets/js/page/board/board.js'}"></script>
  <script th:inline="javascript">

    const type = [[${type}]]
    const bbsUid = [[${recentBbs.uid}]]
    const user = [[${user}]]
    let clUid = 0;

    $(function () {

      boardJS.initPage();

      /* 게시글 작성하러 가기 이벤트 */
      $(".goto-write").on('click', () => {
        window.location.href = `/snipp/board/${type}/save`
      });

      /* [FAQ] 분류 관련 이벤트 */
      $('.cl-span').on('click', () => {
        faqClModal.openModal();
      });
      $('#cl-save-btn').on('click', () => {
        faqClModal.updateFaqCl();
      });
      $('#cl-delete-btn').on('click', () => {
        faqClModal.deleteClEvent();
      });
      $('#cl-close-btn').on('click', () => {
        faqClModal.closeModal();
      });

      /* [FAQ] 게시글 수정하러 가기 버튼 이벤트 */
      $(document).on('click', '.update-board', function (e) {
        const uid = $(this).data('uid')
        window.location.href = `/snipp/board/${type}/form/${uid}`
      });
      /* [FAQ] 게시글 삭제하기 버튼 이벤트 */
      $(document).on('click', '.delete-board', function (e) {
        const uid = $(this).data('uid')
        boardJS.deleteBoard(uid);
      });

      /* [FAQ] 분류 클릭 이벤트 */
      $(document).on('click', '.category-list a', function (e) {
        e.preventDefault();
        $('.category-list a').removeClass('selected');
        $(this).addClass('selected');
        const uid = $(this).data('uid');
        const upper = $(this).data('upper');
        clUid = uid ?? 0;
        faqCard.drawFaqBoardCards();
      });

    });

  </script>
</th:block>

</html>