<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hong.snipp.link.snipp_link.domain.board.domain.SnipBoardMapper">

    <select id="countAllBoard" parameterType="Long" resultType="int">
        /* snipBoard.countAllBoard */
        SELECT COUNT(*)
          FROM SNP_BOARD
         WHERE BBS_UID = #{bbsUid}
           AND DELETE_AT = 'N'
    </select>

    <insert id="insert" parameterType="SnipBoard">
        /* snipBoard.insert */
        INSERT INTO SNP_BOARD (
             BBS_UID
            ,TITLE
            ,CONTENT
            ,DELETE_AT
            ,REG_UID
            ,REG_DT
            ,UPDT_UID
            ,UPDT_DT
        ) VALUES (
             #{bbsUid}
            ,#{title}
            ,#{content}
            ,'N'
            ,#{regUid}
            ,NOW()
            ,#{updtUid}
            ,NOW()
        )
    </insert>

    <update id="update" parameterType="SnipBoard">
        /* snipBoard.update */
        UPDATE SNP_BOARD
           SET TITLE = #{title}
              ,CONTENT = #{content}
              ,UPDT_UID = #{updtUid}
              ,UPDT_DT = NOW()
         WHERE UID = #{uid}
    </update>

    <select id="getDetail" parameterType="Long" resultType="SnipBoardView">
        /* snipBoard.getDetail */
        SELECT SB.UID AS BOARD_UID
              ,SB.BBS_UID
              ,SB.TITLE
              ,SB.CONTENT
              ,SB.DELETE_AT
              ,SB.REG_UID
              ,SB.REG_DT
              ,SU_REG.USER_ID AS REG_ID
              ,SB.UPDT_UID
              ,SB.UPDT_DT
              ,SU_UPDT.USER_ID AS UPDT_ID
          FROM SNP_BOARD SB
          LEFT JOIN SNP_USER SU_REG ON SU_REG.UID = SB.REG_UID
          LEFT JOIN SNP_USER SU_UPDT ON SU_UPDT.UID = SB.UPDT_UID
         WHERE UID = #{uid}
    </select>

    <select id="page" parameterType="SnipBoardParam" resultType="SnipBoardList">
        /* snipBoard.page */
        SELECT SB.UID AS BOARD_UID
              ,SB.BBS_UID
              ,SB.TITLE
              ,SB.CONTENT
              ,SB.DELETE_AT
              ,SB.REG_UID
              ,SB.REG_DT
              ,SU_REG.USER_ID AS REG_ID
              ,SB.UPDT_UID
              ,SB.UPDT_DT
              ,SU_UPDT.USER_ID AS UPDT_ID
          FROM SNP_BOARD SB
          LEFT JOIN SNP_USER SU_REG ON SU_REG.UID = SB.REG_UID
          LEFT JOIN SNP_USER SU_UPDT ON SU_UPDT.UID = SB.UPDT_UID
         WHERE 1 = 1
           AND SB.DELETE_AT = 'N'
        <if test="title != null and title != ''">
           AND SB.TITLE LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="bbsUid != null and bbsUid != ''">
           AND SB.BBS_UID = #{bbsUid}
        </if>
         ORDER BY SB.REG_DT DESC
        <if test="startNumber != null and endNumber != null">
         LIMIT #{endNumber} OFFSET #{startNumber}
        </if>
    </select>

    <select id="list" parameterType="SnipBoardParam" resultType="SnipBoardList">
        /* snipBoard.list */
        SELECT SB.UID AS BOARD_UID
              ,SB.BBS_UID
              ,SB.TITLE
              ,SB.CONTENT
              ,SB.DELETE_AT
              ,SB.REG_UID
              ,SB.REG_DT
              ,SU_REG.USER_ID AS REG_ID
              ,SB.UPDT_UID
              ,SB.UPDT_DT
              ,SU_UPDT.USER_ID AS UPDT_ID
          FROM SNP_BOARD SB
          LEFT JOIN SNP_USER SU_REG ON SU_REG.UID = SB.REG_UID
          LEFT JOIN SNP_USER SU_UPDT ON SU_UPDT.UID = SB.UPDT_UID
         WHERE 1 = 1
           AND SB.DELETE_AT = 'N'
        <if test="title != null and title != ''">
           AND SB.TITLE LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="bbsUid != null and bbsUid != ''">
           AND SB.BBS_UID = #{bbsUid}
        </if>
         ORDER BY SB.REG_DT DESC
    </select>

    <select id="count" parameterType="SnipBoardParam" resultType="int">
        /* snipBoard.count */
        SELECT COUNT(*)
          FROM SNP_BOARD SB
          LEFT JOIN SNP_USER SU_REG ON SU_REG.UID = SB.REG_UID
          LEFT JOIN SNP_USER SU_UPDT ON SU_UPDT.UID = SB.UPDT_UID
         WHERE 1 = 1
           AND SB.DELETE_AT = 'N'
        <if test="title != null and title != ''">
           AND SB.TITLE LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="bbsUid != null and bbsUid != ''">
           AND SB.BBS_UID = #{bbsUid}
        </if>
         ORDER BY SB.REG_DT DESC
    </select>

    <delete id="delete" parameterType="SnipBoard">
        /* snipBoard.delete */
        UPDATE SNP_BOARD
           SET DELETE_AT = 'Y'
              ,UPDT_UID = #{updtUid}
              ,UPDT_DT = NOW()
         WHERE UID = #{uid}
    </delete>
</mapper>