<!-- 게시글 목록 > FAQ 리스트 > 분류 수정 및 추가하기 모달 -->
<th:block th:fragment="faqCl-modal">
    <div class="modal modal-primary fade text-start" id="faqClModal" tabindex="-1" aria-labelledby="faqClModalTitle"
         aria-hidden="true"
         data-bs-keyboard="false" data-bs-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between align-items-start">
                    <div>
                        <h4 class="modal-title" id="faqClModalTitle">분류 수정 및 추가하기</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="d-flex" style="gap: 20px;">
                        <!-- 왼쪽 트리 -->
                        <div id="faqCl-change-tree" style="flex: 1; border: 1px solid #ccc; padding: 20px;"></div>
                        <!-- 오른쪽 폼 -->
                        <div style="flex: 1; border: 1px solid #ccc; padding: 20px;">
                            <form id="cl-form" class="needs-validation" novalidate>
                                <input type="hidden" id="clUid">
                                <div class="mb-3">
                                    <label for="clNm" class="form-label custom-label">분류명<span class="required">*</span></label>
                                    <input type="text" class="form-control custom-input" id="clNm" name="clNm"
                                           required/>
                                    <div class="invalid-feedback">필수 입력값입니다.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="sortNo" class="form-label">정렬순서<span class="required">*</span></label>
                                    <input type="number" class="form-control custom-input" id="sortNo" name="sortNo"
                                           required/>
                                    <div class="invalid-feedback">필수 입력값입니다.</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn-primary-custom" id="cl-save-btn" style="visibility: hidden">수정
                    </button>
                    <button type="button" class="btn-cancel-custom" id="cl-delete-btn" style="visibility: hidden">삭제
                    </button>
                    <button type="button" class="btn-cancel-custom" id="cl-close-btn">닫기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>