<!-- 게시글 목록 > FAQ 리스트 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="faqCard">

  <div class="faq-list-wrapper">
    <div class="row" id="faqCard-div"></div>
  </div>

  <script id="faqCard-div-template" type="text/x-handlebars-template">
    {{#if list.length}}
    <div class="accordion mb-5" id="accordionExample">
      {{#each list}}
      <div class="accordion-item mb-4">
        <h3 class="accordion-header" id="heading-{{@index}}">
          <button class="accordion-button collapsed" type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-{{@index}}"
                  aria-expanded="false"
                  aria-controls="collapse-{{@index}}">
            {{title}}
          </button>
        </h3>
        <div id="collapse-{{@index}}" class="accordion-collapse collapse"
             aria-labelledby="heading-{{@index}}" data-bs-parent="#accordionExample">
          <div class="accordion-body content-view">
            <div class="content-div"  id="ckeditor-{{@index}}"></div>
            <div class="file-div">
              <!--  -->
            </div>
            <th:block th:if="${isLogin}">
              <div class="button-div text-end"
                   th:if="${loginUid == regUid or isSuper}">
                <button type="button" class="btn-primary-custom update-board" data-uid="{{boardUid}}">수정</button>
                <button type="button" class="btn-cancel-custom delete-board" data-uid="{{boardUid}}">삭제</button>
              </div>
            </th:block>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{else}}
    <div class="card">
      <div class="card-body" style="text-align:center; width:100%">
        <span>검색결과가 없습니다.</span>
      </div>
    </div>
    {{/if}}
  </script>

</th:block>
</html>