<!-- 게시글 목록 > FAQ 리스트 > 스크립트 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">

    var faqCard = {

        drawFaqBoardCards: async function () {
            clUid = clUid ?? 0
            const res = await Http.get(`/snipp/api/board/page?bbsUid=${bbsUid}&clUid=${clUid}`);
            faqCard.getHandlebars_faq_card("faqCard-div-template", "faqCard-div", res);
            await faqCard.initEditors(res.list);
        }

        ,getHandlebars_faq_card: function (templateId, insertId, data) {
            const dom = $("#" + templateId);
            const source = dom.html();
            const template = Handlebars.compile(source);
            const items = template(data)
            $("#"+ insertId).html(items);
        }

        ,initEditors: async function (list) {
            const editorInits = [];
            list.forEach((item, index) => {
                const editor = new Editor(`ckeditor-${index}`, item.content, true);
                editorInits.push(editor.init(true));
            });
            await Promise.all(editorInits); // 모두 초기화 완료될 때까지 대기
        }

    }

</script>