<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
        <div>
            <span th:text="${user?.userNm}"></span>
        </div>
        <div>
            <span th:text="${user?.userRole}"></span>
        </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(function () {

        });
    </script>
</th:block>

</html>