<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hong.snipp.link.snipp_link.domain.shorturl.shorturl.dao.SnippShortUrlMapper">

    <select id="getShortURLByOriginURL" parameterType="String" resultType="SnippShortUrlView">
        /* snippShortUrl.getShortURLByOriginURL */
        SELECT UID
              ,ORIGIN_URL
              ,SHORT_URL
              ,CREATED_AT
              ,EXPIRES_AT
              ,CASE WHEN (EXPIRES_AT >= CURRENT_TIMESTAMP) THEN 'N'
                    WHEN (CURRENT_TIMESTAMP > EXPIRES_AT) THEN 'Y'
                END AS IS_EXPIRED
              ,IS_PUBLIC
          FROM SNP_SHORTEN_URL
         WHERE ORIGIN_URL = #{originUrl}
    </select>


    <select id="getShortURLByShortURL" parameterType="String" resultType="SnippShortUrlView">
        /* snippShortUrl.getShortURLByShortURL */
        SELECT UID
              ,ORIGIN_URL
              ,SHORT_URL
              ,CREATED_AT
              ,EXPIRES_AT
              ,CASE WHEN (EXPIRES_AT >= CURRENT_TIMESTAMP) THEN 'N'
                    WHEN (CURRENT_TIMESTAMP > EXPIRES_AT) THEN 'Y'
                END AS IS_EXPIRED
              ,IS_PUBLIC
          FROM SNP_SHORTEN_URL
         WHERE SHORT_URL = #{shortURL}
    </select>

    <insert id="insert" parameterType="SnippShortUrl" useGeneratedKeys="true" keyProperty="uid">
        /* snippShortUrl.insert */
        INSERT INTO SNP_SHORTEN_URL (
             ORIGIN_URL
            ,SHORT_URL
            ,CREATED_AT
            ,EXPIRES_AT
            ,IS_PUBLIC
        ) VALUES (
             #{originUrl}
            ,''
            ,CURRENT_TIMESTAMP
            ,DATEADD('WEEK', 1, CURRENT_TIMESTAMP)
            ,#{isPublic}
        )
    </insert>

    <select id="countByShortURL" parameterType="String" resultType="int">
        /* snippShortUrl.countByShortURL */
        SELECT COUNT(*)
          FROM SNP_SHORTEN_URL
         WHERE SHORT_URL = #{shrotUrl}
    </select>

    <update id="update" parameterType="SnippShortUrl">
        /* snippShortUrl.update */
        UPDATE SNP_SHORTEN_URL
           SET SHORT_URL = #{shortUrl}
         WHERE UID = #{uid}
    </update>

    <select id="page" resultType="SnippShortUrlList" parameterType="SnippShortUrlParam">
        /* snippShortUrl.page */
        SELECT UID
              ,ORIGIN_URL
              ,SHORT_URL
              ,CREATED_AT
              ,EXPIRES_AT
              ,CASE WHEN (EXPIRES_AT >= CURRENT_TIMESTAMP) THEN 'N'
                    WHEN (CURRENT_TIMESTAMP > EXPIRES_AT) THEN 'Y'
                 END AS IS_EXPIRED
              ,IS_PUBLIC
          FROM SNP_SHORTEN_URL SSU
         WHERE 1 = 1
        <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
           AND SSU.CREATED_AT BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="isPublic != null and isPublic != ''">
           AND SSU.IS_PUBLIC = #{isPublic}
        </if>
         ORDER BY SSU.CREATED_AT DESC
        <if test="startNumber != null and endNumber != null">
         LIMIT #{endNumber} OFFSET #{startNumber}
        </if>
    </select>

    <select id="list" resultType="SnippShortUrlList" parameterType="SnippShortUrlParam">
        /* snippShortUrl.list */
        SELECT UID
              ,ORIGIN_URL
              ,SHORT_URL
              ,CREATED_AT
              ,EXPIRES_AT
              ,CASE WHEN (EXPIRES_AT >= CURRENT_TIMESTAMP) THEN 'N'
                    WHEN (CURRENT_TIMESTAMP > EXPIRES_AT) THEN 'Y'
                 END AS IS_EXPIRED
              ,IS_PUBLIC
          FROM SNP_SHORTEN_URL SSU
         WHERE 1 = 1
        <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
           AND SSU.CREATED_AT BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="isPublic != null and isPublic != ''">
           AND SSU.IS_PUBLIC = #{isPublic}
        </if>
         ORDER BY SSU.CREATED_AT DESC
    </select>

    <select id="count" resultType="int" parameterType="SnippShortUrlParam">
        /* snippShortUrl.count */
        SELECT COUNT(*)
          FROM SNP_SHORTEN_URL SSU
         WHERE 1 = 1
        <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
           AND SSU.CREATED_AT BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="isPublic != null and isPublic != ''">
           AND SSU.IS_PUBLIC = #{isPublic}
        </if>
    </select>

</mapper>