<th:block th:fragment="header-nav">
  <!-- HEADER NAV -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <a class="navbar-brand" href="/">Snipp Link</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/html/index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/html/about.html">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/html/contact.html">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="/html/pricing.html">Pricing</a></li>
          <li class="nav-item"><a class="nav-link" href="/html/faq.html">FAQ</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
              <li><a class="dropdown-item" href="/html/blog-home.html">Blog Home</a></li>
              <li><a class="dropdown-item" href="/html/blog-post.html">Blog Post</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">User</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
              <li><a class="dropdown-item" href="/html/portfolio-item.html" th:if="${#authorization.expression('isAuthenticated()')}">Profile</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);" id="logout-btn" th:if="${#authorization.expression('isAuthenticated()')}">Logout</a></li>
              <li><a class="dropdown-item" href="/html/portfolio-item.html" onclick="location.href='/login'" th:unless="${#authorization.expression('isAuthenticated()')}">Login</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End of HEADER NAV -->
  <script>

    window.onload = function() {
      const logout = document.getElementById("logout-btn")
      logout.onclick = function() {
        const {header, token} = Http.getCookieInfo()
        const form = document.createElement("form")
        const csrfInput = document.createElement("input")
        form.method = "POST"
        form.action = "/logout"
        csrfInput.type = 'hidden'
        csrfInput.name = "_csrf";
        csrfInput.value = token
        form.appendChild(csrfInput)
        document.body.appendChild(form)
        form.submit()
      }
    }

  </script>
</th:block>