<th:block th:fragment="script">
    <!-- Bootstrap core JS-->
    <script th:src="@{'/assets/js/core/bootstrap.bundle.min.js'}"></script>

    <!-- Jquery core JS -->
    <script th:src="@{'/assets/js/core/jquery.js'}"></script>
    <script th:src="@{'/assets/js/core/simple-notify.js'}"></script>
    <script th:src="@{'/assets/js/core/sweetalert2.js'}"></script>

    <!-- Jquery core JS : table -->
    <script th:src="@{'/assets/js/core/table/gridjs.umd.js'}"></script>
    <script th:src="@{'/assets/js/core/table/selection.umd.js'}"></script>

    <!-- Jquery core JS : handlebars -->
    <script th:src="@{'/assets/js/core/handlebars_4.7.8.min.js'}"></script>

    <!-- Jquery core JS : jsTree -->
    <script th:src="@{'/assets/js/core/jstree/jstree.min.js'}"></script>

    <!-- Jquery main JS -->
    <script th:src="@{'/assets/js/main/MyUploadAdapter.js'}"></script>
    <script th:src="@{'/assets/js/main/script.js'}"></script>
    <script th:src="@{'/assets/js/main/util.js'}"></script>
    <script th:src="@{'/assets/js/main/alert.js'}"></script>
    <script th:src="@{'/assets/js/main/table.js'}"></script>
    <script th:src="@{'/assets/js/main/editor.js'}"></script>
    <script th:src="@{'/assets/js/main/tree.js'}"></script>

    <!-- CK-Editor -->
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.0/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.0/",
                "ckeditor-config1" : "/assets/js/core/ckeditor5/ckeditor-config1.js",
                "ckeditor-config2" : "/assets/js/core/ckeditor5/ckeditor-config2.js"
            }
        }
    </script>

</th:block>