<th:block th:fragment="script">

  <!-- Bootstrap core JS-->
  <script th:src="@{'/assets/js/core/bootstrap.bundle.min.js'}"></script>

  <!-- Jquery core JS -->
  <script th:src="@{'/assets/js/core/jquery.js'}"></script>
  <script th:src="@{'/assets/js/core/simple-notify.js'}"></script>
  <script th:src="@{'/assets/js/core/sweetalert2.js'}"></script>

  <!-- Jquery main JS -->
  <script th:src="@{'/assets/js/main/script.js'}"></script>
  <script th:src="@{'/assets/js/main/util.js'}"></script>
  <script th:src="@{'/assets/js/main/alert.js'}"></script>

</th:block>