<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hong.snipp.link.snipp_link.domain.socialuser.domain.SnippSocialUserMapper">

    <insert id="insert" parameterType="SnippSocialUser" keyProperty="uid" useGeneratedKeys="true">
        /* snippSocialUser.insert */
        INSERT INTO SNP_SOCIAL_USER (
             SOCIAL_TP
            ,USER_ID
        ) VALUES (
             #{socialTp}
            ,#{userId}
        )
    </insert>

</mapper>