<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hong.snipp.link.snipp_link.domain.loginhist.dao.SnippLoginHistMapper">

    <insert id="insert" parameterType="SnippLoginHist">
        /* snippLoginHist.insert */
        INSERT INTO SNP_LOGIN_HIST (
             USER_EMAIL
            ,LOGIN_DT
            ,ACCESS_IP
            ,ACCESS_USER_AGENT
            ,LOGIN_ACCESS_TP
            ,LOGIN_ACCESS_DESCRIPTION
        ) VALUES (
             #{userEmail}
            ,NOW()
            ,#{accessIp}
            ,#{accessUserAgent}
            ,#{loginAccessTp}
            ,#{loginAccessDescription}
        )
    </insert>

    <select id="page" parameterType="SnippLoginHistParam" resultType="SnippLoginHistList">
        /* snippLoginHist.page */
        SELECT CONCAT('MAIN', '_', SNH.UID) AS MAIN_ID
              ,SNH.UID AS HIST_UID
              ,SNH.USER_EMAIL
              ,SNH.LOGIN_DT
              ,SNH.ACCESS_IP
              ,SNH.ACCESS_USER_AGENT
              ,SNH.LOGIN_ACCESS_TP
              ,SNH.LOGIN_ACCESS_DESCRIPTION
          FROM SNP_LOGIN_HIST SNH
         WHERE 1 = 1
        <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
           AND SNH.LOGIN_DT BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="loginAccessTp != null and loginAccessTp != ''">
           AND SNH.LOGIN_ACCESS_TP = #{loginAccessTp}
        </if>
         ORDER BY SNH.LOGIN_DT DESC
        <if test="startNumber != null and endNumber != null">
         LIMIT #{endNumber} OFFSET #{startNumber}
        </if>
    </select>

    <select id="list" parameterType="SnippLoginHistParam" resultType="SnippLoginHistList">
        /* snippLoginHist.list */
        SELECT CONCAT('MAIN', '_', SNH.UID) AS MAIN_ID
              ,SNH.UID AS HIST_UID
              ,SNH.USER_EMAIL
              ,SNH.LOGIN_DT
              ,SNH.ACCESS_IP
              ,SNH.ACCESS_USER_AGENT
              ,SNH.LOGIN_ACCESS_TP
              ,SNH.LOGIN_ACCESS_DESCRIPTION
          FROM SNP_LOGIN_HIST SNH
         WHERE 1 = 1
        <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
           AND SNH.LOGIN_DT BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="loginAccessTp != null and loginAccessTp != ''">
           AND SNH.LOGIN_ACCESS_TP = #{loginAccessTp}
        </if>
         ORDER BY SNH.LOGIN_DT DESC
    </select>

    <select id="count" parameterType="SnippLoginHistParam" resultType="int">
        /* snippLoginHist.count */
        SELECT COUNT(*)
          FROM SNP_LOGIN_HIST SNH
         WHERE 1 = 1
        <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
           AND SNH.LOGIN_DT BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="loginAccessTp != null and loginAccessTp != ''">
           AND SNH.LOGIN_ACCESS_TP = #{loginAccessTp}
        </if>
    </select>
</mapper>