<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">

    <div id="container" style="width: 80%; margin-left: 40px;">
        <button type="button" class="btn btn-sm btn-primary" id="btn-btn">button</button>
        <div id="ckeditor1"></div>
        <div id="ckeditor2"></div>

        <hr style="border: none; border-top: 3px dotted #000000; margin: 20px auto; width: 90%;">

        <div id="table"></div>
    </div>


</th:block>

<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/board/notice.js'}"></script>
    <script th:inline="javascript">
        $(function () {
            noticeJS.initial();  // 페이지 로드 후 바로 초기화 실행

            $("#btn-btn").on('click', () => {
                noticeJS.getCkeditorData();
            })
        });
    </script>
</th:block>

</html>