<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hong.snipp.link.snipp_link.domain.shorturlaccess.domain.SnipShortUrlAccessMapper">

    <insert id="insert" parameterType="SnipShortUrlAccess">
        /* snipShortUrlAccess.insert */
        INSERT INTO SNP_SHORTEN_URL_ACCESS (
             SHORTEN_URL_UID
            ,USER_UID
        ) VALUES (
             #{shortenUrlUid}
            ,#{userUid}
        )
    </insert>

    <select id="countByUserAndShortURL" parameterType="map" resultType="int">
        /* snipShortUrlAccess.countByUserAndShortURL */
        SELECT COUNT(*)
          FROM SNP_SHORTEN_URL_ACCESS SSUA
         INNER JOIN SNP_SHORTEN_URL SSU ON SSU.UID = SSUA.SHORTEN_URL_UID
         WHERE SSUA.USER_UID = #{userUid}
           AND SSU.SHORT_URL = #{shortUrl}
    </select>

    <select id="getAccessListByUid" parameterType="Long" resultType="SnipShortUrlAccessList">
        /* snipShortUrlAccess.getAccessListByUid */
        SELECT SSUA.SHORTEN_URL_UID
              ,SSUA.USER_UID
              ,SU.USER_ID AS USER_ID
          FROM SNP_SHORTEN_URL_ACCESS SSUA
         INNER JOIN SNP_USER SU ON SU.UID = SSUA.USER_UID
         WHERE SHORTEN_URL_UID = #{shortenUrlUid}
    </select>
</mapper>