/* main */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


/* 동의화면 */
.join-container .scroll_box {
    border: 1px solid #c4c3c7;
    border-radius: 6px;
    height: 286px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 40px 20px 20px;
    margin-bottom: 20px;
}
.agree .t1 {
    font-weight: 700;
    margin-bottom: 1rem;
}
.agree .t2 {
    margin-bottom: 2rem;
}


/* sweetalert */
.alert-confirm-btn {
    color: #fff !important;
    background-color: #0d6efd !important;
    border: 1px solid #0d6efd !important;
    padding: 0.55rem 0.85rem 0.55rem 0.85rem !important;
    font-size: 0.875rem !important;
}
.alert-confirm-btn:hover {
    color: #fff !important;
    background-color: #0b5ed7 !important;
    border-color: #0a58ca !important;
}
.alert-confirm-btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5) !important;
}
.alert-confirm-btn:active {
    color: #fff !important;
    background-color: #0a58ca !important;
    border-color: #0a53be !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}
.alert-confirm-btn:disabled {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
.alert-cancel-btn {
    color: #fff !important;
    background-color: #6c757d !important;
    border: 1px solid #6c757d !important;
    padding: 0.55rem 0.85rem 0.55rem 0.85rem !important;
    font-size: 0.875rem !important;
}
.alert-cancel-btn:hover {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
}
.alert-cancel-btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5) !important;
}
.alert-cancel-btn:active {
    color: #fff !important;
    background-color: #565e64 !important;
    border-color: #51585e !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}
.alert-cancel-btn:disabled {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}


/* grid */
.gridjs-search {
    padding: 10px !important;
}
.gridjs-custom-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.gridjs-custom-table-th {
    background-color: #f5f7fa;
    color: #333;
    padding: 12px 10px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    font-weight: 600;
}
.gridjs-custom-table-td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    color: #555;
}
.gridjs-custom-table-header {
    background-color: #fafafa;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
}
.gridjs-custom-table-footer {
    background-color: #fafafa;
    color: #666;
    font-size: 13px;
    padding: 15px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-top: 0px;
}
.gridjs-custom-checkbox {
    width: 18px;
    height: 18px;
}