/* ======= ckeditor ======= */
.ck-editor__editable{ min-height: 300px; }

/* ======= main ======= */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}


/* ======= 동의화면 ======= */
.join-container .scroll_box {
    border: 1px solid #c4c3c7;
    border-radius: 6px;
    height: 286px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 40px 20px 20px;
    margin-bottom: 20px;
}
.agree .t1 {
    font-weight: 700;
    margin-bottom: 1rem;
}
.agree .t2 {
    margin-bottom: 2rem;
}


/* ======= sweetalert ======= */
.alert-confirm-btn {
    background-color: #85abee;
    color: white;
    border: none;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
    min-width: 120px; /* 기본 너비 */
}
.alert-confirm-btn:hover {
    background-color: #6898ed;

}
.alert-confirm-btn:focus {
    background-color: #6898ed;
}
.alert-confirm-btn:disabled {
    background-color: #9ab3df;
    cursor: default;
    opacity: 0.6;
}
.alert-cancel-btn {
    background-color: #b2baca;
    color: white;
    border: none;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    user-select: none;
    min-width: 120px; /* 기본 너비 */
}
.alert-cancel-btn:hover {
    background-color: #a2a8b0; /* 좀 더 진해진 연회색 */
}
.alert-cancel-btn:focus {
    background-color: #a2a8b0; /* 좀 더 진해진 연회색 */
}
.alert-cancel-btn:disabled {
    background-color: #d5d9e0;
    cursor: default;
    opacity: 0.6;
}


/* ======= grid ======= */
.gridjs-wrapper {
    box-shadow: none !important;
}
.gridjs-search {
    padding: 10px !important;
}
.gridjs-custom-table {
    border-collapse: collapse !important;
    width: 100% !important;
    font-size: 14px !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    overflow: hidden !important;
}
.gridjs-custom-thead {
    background-color: #f7f7f7 !important;
    font-weight: 600 !important;
    color: #333 !important;
    padding: 12px 10px !important;
}
.gridjs-custom-tbody {
    padding: 10px !important;
    color: #555 !important;
}
.gridjs-custom-thead th {
    background-color: transparent !important;
    border-bottom: 1px solid #e5e7eb;
    border-left: none;
    border-right: none;
}
.gridjs-custom-tbody td {
    /*border-top: 1px solid #e5e7eb;*/
    border-left: none;
    border-right: none;
}
.gridjs-custom-tbody tr {
    cursor: pointer;
}
.gridjs-custom-table-footer {
    color: #666 !important;
    font-size: 13px !important;
    padding: 15px !important;
    border-radius: 0px !important;
    border-color: transparent !important;
    box-shadow: none !important;
}
.gridjs-custom-table-footer button:disabled {
    background-color: #e5e7eb !important;
    cursor: default !important;
}
.gridjs-custom-checkbox {
    width: 18px;
    height: 18px;
}
@media (max-width: 576px) {
    .gridjs-summary,
    .gridjs-pages {
        display: block;         /* 세로로 쌓이게 변경 */
        width: 100%;            /* 너비를 100%로 확장 */
        text-align: center;     /* 가운데 정렬 (선택사항) */
        margin-bottom: 0.5rem;  /* 아래쪽 간격 추가 */
    }
    .gridjs-pages {
        margin-bottom: 0;       /* 마지막 요소라면 아래 마진 없애기 */
    }
}


/* ======= hr ======= */
hr.custom-line {
    width: 100px; /* 선 길이 짧게 */
    border: 1px solid #0a58ca; /* 선 색깔 */
    margin: 20px auto; /* 위아래 여백 + 가운데 정렬 */
    margin-top: 0px;
}


/* ======= html/form custom ======= */
.custom-pt-3 {
    padding-top: 3rem !important;
}
.custom-pb-3 {
    padding-bottom: 3rem !important;
}
.custom-pr-3 {
    padding-right: 3rem !important;
}
.custom-pl-3 {
    padding-left: 3rem !important;
}
.custom-input {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    height: auto;
}
.custom-input-group input {
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
}
.custom-input-group button {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}
.custom-select {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    height: auto;
}
.custom-label {
    font-size: 14px;
    font-weight: 400;
    margin-left: 3px;
}
span.required {
    color: firebrick;
    margin-left: 2px;
    font-size: 15px;
}
.invalid-feedback {
    margin-left: 3px;
}
.validation-error-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.775rem;
    color: #ea5455;
}



/*  ======= custom button  ======= */
/* 기본 버튼 */
.btn-primary-custom {
    background-color: #85abee;
    color: white;
    border: none;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
    min-width: 120px; /* 기본 너비 */
}
.btn-primary-custom:hover:not(:disabled) {
    background-color: #6898ed;
}
.btn-primary-custom:disabled {
    background-color: #9ab3df;
    cursor: default;
    opacity: 0.6;
}
/* 취소 버튼 */
.btn-cancel-custom {
    background-color: #b2baca;
    color: white;
    border: none;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    user-select: none;
    min-width: 120px; /* 기본 너비 */
}
.btn-cancel-custom:hover:not(:disabled) {
    background-color: #a2a8b0; /* 좀 더 진해진 연회색 */
}
.btn-cancel-custom:disabled {
    background-color: #d5d9e0;
    cursor: default;
    opacity: 0.6;
}



/* ======= after ======= */
.heading-underline h1 {
    position: relative;
    display: inline-block;
    padding-bottom: 0.65rem;
}
.heading-underline h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 45%; /* 밑줄 길이 조절 (텍스트보다 살짝 짧게) */
    height: 3px;
    background-color: #85abee; /* 강조 색상 */
    border-radius: 2px;
}




/* ======= thumbnail modal ======= */
.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh; /* 뷰포트 높이의 80%로 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤바 추가 */
}
.thumbnail-item {
    flex: 1 0 30%; /* 한 줄에 3개씩 */
    margin: 5px;
    text-align: center;
    position: relative;
}
.thumbnail-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}
.thumbnail-item.selected img {
    border: 5px solid #5f9def; /* 선택된 경우 테두리 색상 */
}
.thumbnail-item input[type="radio"] {
    display: none;
}


/* ======= tree ======= */
.vakata-context {
    z-index: 1061 !important; /* Bootstrap 모달보다 높은 값 */
}